server:
  port: 8090

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: customer-service
          uri: lb://customer
          predicates:
            - Path=/api/v1/customers/**

        - id: fraud-service
          uri: lb://fraud
          predicates:
            - Path=/api/v1/fraud-check/**

    discovery:
      locator:
        enabled: true

  zipkin:
    base-url: http://localhost:9411

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka